Testing out the ability to parse tags:
<cms:form id="yep" /> <!-- 1 -->
<good id="asdf" asdf="fff" /> <!-- should succeed: 1 -->
<good id="testing" /> <!-- should succeed: 1 -->
<good id='singles' second="quotes" /> <!-- 1 -->
<good>asdf</good> <!-- this will fill "content" attribute? 1 -->
<good /> <!-- succeed 1 -->
<nospace/> <!-- no space between start ane end 1 -->
<sidebyside /><sidebyside /> <!-- 2 -->
<emptybeside></emptybeside><emptybeside /> <!-- 2 -->
<nesting><nesting /></nesting> <!-- nesting a tag within a tag, will just come out as plaintext in content attribute. 1 -->
&lt;entitybased /&gt; <!-- this will parse correctly, as in-editor stuff should also be working 1 -->
&lt;entitycontent&gt;content here&lt;/entitycontent&gt; <!-- this will parse correctly, as in-editor stuff should also be working 1 -->

